*{
    -fx-font-family: "Roboto";
    
}

#pauseButton{
    -fx-background-image: url('pause20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;   
}

#playButton{
    -fx-background-image: url('play20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#stopButton{
    -fx-background-image: url('stop20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#nextButton{
    -fx-background-image: url('next20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#prevButton{
    -fx-background-image: url('prev20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#loadButton{
    -fx-background-image: url('load20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#playlistButton{
    -fx-background-image: url('playlist20.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
}

#name{
    
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    
}

#time{
    -fx-font-size: 25px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
#slider1{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
#pane{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}